_tflow_1100_select==0.0.1
absl-py==0.4.1
astor==0.7.1
click==6.7
Flask==0.12.3
gast==0.2.0
grpcio==1.12.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.15.1
nltk==3.3.0
protobuf==3.6.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.0
tensorflow-base==1.10.0
termcolor==1.1.0
vc==14
Werkzeug==0.12.2
zlib==1.2.11
