{% extends "saiqa/base.html" %}
{% load staticfiles %}
{% block content %}
  <img src="{% static "saiqa/about.png" %}" class="container">
  <div class="front"><textarea rows="20" cols="45" readonly">
      Sima: Artificial Intelligence for Question Answering was originally created for the GCU 2018-2019 Computer Science Capstone.

Its intent is to both be a way to easily have questions answered, similar to other artificial intelligence like Alexa, and be able to have a growing knowledge base from which it can pull from.

The name Sima comes from the Greek letter S which in this instance refers to a sum of its parts. As for the Greek letter ? in the upper-left hand corner, this refers to how the letter can be pronounced SAI and refers to the mind in psychology

Main Coder: Mark S. Mott
Book graphic by Joe Leon
    </textarea>
  </div>
  <div class="lowl">
      <a href="/saiqa/"><img src="{% static "saiqa/arrowL.png" %}" alt="missing"></a>
  </div>
{% endblock %}