{% extends "saiqa/base.html" %}
{% load staticfiles %}
{% block content %}
    <img src="{% static "saiqa/leftflip.png" %}" class="container">
    <div class="front">
      <h1>Learning</h1>
      <form action="/saiqa/learn/" method="post">
        {% csrf_token %}
        <p>
            <label for="sent">Sentence: </label>
	    <input id="sent" type="text" name="sent" value="sentence">
        </p>
        <p>
            <label for="source">Source: </label>
	    <input id="source" type="text" name="source" value="Enter source">
        </p>
        <p>
            <label for="trust">Enter trust level (1-10): </label>
	    <input id="trust" type="text" name="trust" value="trust">
        </p>
        <p><input type="submit" value="Submit"></p>
      </form>
    </div>
    <div class="lowr">
      <a href="/saiqa/question"><img src="{% static "saiqa/arrowR.png" %}" alt="missing"></a>
    </div>
{% endblock %}