{% extends "saiqa/base.html" %}
{% block content %}
{% load staticfiles %}
<script type="text/javascript">
$(function(){
  $("#questionform").on("submit", function(event) {
	event.preventDefault();
	let frm = $('#FORM-ID');
	$.ajaxSetup({ 
     		beforeSend: function(xhr, settings) {
         		function getCookie(name) {
             			var cookieValue = null;
             			if (document.cookie && document.cookie != '') {
                 			var cookies = document.cookie.split(';');
                 			for (var i = 0; i < cookies.length; i++) {
                     				var cookie = jQuery.trim(cookies[i]);
                     				// Does this cookie string begin with the name we want?
                     				if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         				break;
                     				}
                 			}
             			}
             			return cookieValue;
         		}
         		if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             			// Only send the token to relative URLs i.e. locally.
             			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         		}
     		} 
	});
     	$.ajax({
		type: "POST",
        	url: "/saiqa/answer/",
		data: document.getElementById('question').value,
        	dataType: "json",
        	success: function(data)
    		{			
			data = data.toString();
			// Split the data into an array
			let res = data.split(/(?<=[\.?!(random)]),/);
			let out = "";
			let arr = "";
			let hold;
			let i;
			let neg = res.length - 4;
			let size = 0;
			// Size = 0 when neg is greater than 0, 1 when neg is less than 0
			if(neg < 0) {
				size = 1;
			}
			// Put the last four elements into arr
			for(i = 0; i < res.length; i++) {
				out = out + res[i] + "<br>";
				
				//Selects the last four elements in the array.  Not needed due to the overflow tag
				if(i >= neg || size == 1) {
					arr = arr + res[i] + "<br>";
				}
			}
			// Replace the elements specified with the new data
      	  		document.getElementById("history").innerHTML = arr;
			document.getElementById("fullhist").innerHTML = out;
        	},
      	});
  });
})
</script>
    <img src="{% static "saiqa/middlepage.png" %}" class="container">
    <div class="fullhist">
	<p id="fullhist">Hello {{ user.username }}, welcome to SAI-QA.  What question do you have today?</p>
    </div>
    <div class="front">
      <h1>Question</h1>
      <div class="history">
	<p id="history">Hello {{ user.username }}, welcome to SAI-QA.  What question do you have today?</p>
      </div>
      <form method="post" id="questionform" name="questionform">
        <p>
            <label for="question">Enter question: </label>
	    <input id="question" type="text" name="question" value="question">
        </p>
        <p><button type="submit" value="submit">Submit</button></p>
      </form>
      <div class="result"></div>
    </div>
{% endblock %}