{% extends "saiqa/base.html" %}
{% load staticfiles %}
{% block content %}
    <img src="{% static "saiqa/firstPage.png" %}" class="container">
{{ rf }}
<div class="front">
      <h1>Register</h1>
      <form action="/saiqa/reguser/" method="post">
	{% csrf_token %}
	<label for="username">Enter name: </label>
	<input id="username" type="text" name="username" value="">
	<label for="password">Enter password: </label>
	<input id="password" type="text" name="password" value="">
	<label for="repassword">Reenter password: </label>
	<input id="repassword" type="text" name="repassword" value="">
	<input type="submit" value="Register">
      </form>
</div>
{% endblock %}