{% extends "saiqa/base.html" %}
{% load staticfiles %}
{% block content %}
    <img src="{% static "saiqa/firstPage.png" %}" class="container">
<div class="left">
	{{ rf }}
</div class>
<div class="front">
      <h1>Register</h1>
      <form action="/saiqa/reguser/" method="post">
	{% csrf_token %}
	<p>
	  <label for="username">Enter name: </label>
	  <input id="username" type="text" name="username" value="">
	<p>
	  <label for="password">Enter password: </label>
	  <input id="password" type="text" name="password" value="">
	<p>
	  <label for="repassword">Reenter password: </label>
	  <input id="repassword" type="text" name="repassword" value="">
	<p>
	  <input type="submit" value="Register">
      </form>
</div>
{% endblock %}